{% extends "base.html.twig" %}

{% block page_title %}Viva sofa{% endblock %}

{% block content %}
    <div class="titlediv">
        <h1><strong>Очень важная либо красивая инфа только для стартовой страници</strong></h1>
    </div>
{% endblock %}

