body {
    background:#ddd;
}
/*HEADER*/
.navbar {
    background:#999;
}
.nav-container {
    width:940px;
}

.active {
    text-decoration:underline;
}
/*CONTENT*/
.titlediv {
    padding: 60px;
    margin-bottom: 30px;
    background-color: #eeeeee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    h1 {
        font-size:60px;
    }
}

/*FOOTER */
h3 {
    font-size: 18px;
    line-height: 27px;
    font-family: inherit;
    font-weight: bold;
}

.my-footer {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    padding:10px;
    border-top: solid white 1px;
    .span6 {
        display:block;
    }
    .span6:first-child {
        text-align:left;
    }
    .span6:last-child {
        text-align:right;
    }
}