<div class="container my-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h3> // Есть вопросы?</h3>
            <p>  Смело звони на номер <b>+371 21012345</b> и спрашивай:</p>

            <p>По рабочим дням с 9 до 20<br>
                В выходные дни с 10 до 18</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h3>// Используешь Facebook?</h3>
            <p>Мы тоже :) Обсуждай с друзьями, задавай вопросы, делись своим мнением.</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h3>// Подпишись и узнавай о новинках</h3>
            <p>Введи сфой эмайл и узнавай о самых свежих поступлениях в нашь магазин первым !!!</p>
            <form class="form-horizontal">
                <input type="text" class="subscribe_email" placeholder="Ваш эмайл">
                <button class="btn btn-warning">Подписаться</button>
            </form>
        </div>
    </div>
</div>

<div class="container my-footer">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            © 2012 Viva-Sofa. All Rights Reserved.
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><a href="#">Наверх</a></div>
    </div>
</div>